<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cys.ssm.dao.IRoleUrlControlDao">
	<resultMap id="BaseResultMap" type="com.cys.ssm.model.RoleUrlControl">
		<result column="roleId" property="roleId" jdbcType="INTEGER" />
		<result column="urlControls" property="urlControls" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		roleId, urlControls
	</sql>

	<!-- 查询 -->
	<select id="queryById" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from roleUrlControl
		where roleId = #{roleId,jdbcType=INTEGER}
	</select>

	<!-- 批量查询 -->
	<select id="queryList" resultMap="BaseResultMap"
		parameterType="com.cys.ssm.model.RoleUrlControl">
		select
		<include refid="Base_Column_List" />
		from roleUrlControl
		where 1=1 
		<if test="roleIds != null and roleIds.size() > 0">
			and roleId in
			<foreach collection="roleIds" item="obj" open="(" separator="," close=")">
                #{obj}
       		</foreach>  
		</if>
	</select>

	<!-- 插入 -->
	<insert id="insert" parameterType="com.cys.ssm.model.RoleUrlControl">
		insert into roleUrlControl
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="roleId != null">
				roleId,
			</if>
			<if test="urlControls != null">
				urlControls,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="roleId != null">
				#{roleId,jdbcType=INTEGER},
			</if>
			<if test="urlControls != null">
				#{urlControls,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<!-- 批量插入 -->
	<insert id="insertByBatch" parameterType="java.util.List">
		insert into roleUrlControl
		(roleId, urlControls)
		select A.* from
		(
		<foreach collection="list" item="obj" index="index"
			separator="union">
			select
			#{obj.roleId,jdbcType=INTEGER},
			#{obj.urlControls,jdbcType=INTEGER}
			from dual
		</foreach>
		) A
	</insert>

	<!-- 删除 -->
	<delete id="deleteById"
		parameterType="java.lang.Integer">
		delete from roleUrlControl
		where roleId = #{roleId,jdbcType=INTEGER}
	</delete>

	<!-- 批量删除 -->
	<delete id="deleteByBatch" parameterType="com.cys.ssm.model.RoleUrlControl">
		delete from roleUrlControl
		where 1=1 
		<if test="roleIds != null and roleIds.size() > 0">
			and roleId in
			<foreach collection="roleIds" item="obj" open="(" separator="," close=")">
                #{obj}
       		</foreach>  
		</if>
	</delete>

	<!-- 更新 -->
	<update id="updateById" parameterType="com.cys.ssm.model.RoleUrlControl">
		update roleUrlControl
		<set>
			<if test="urlControls != null">
				urlControls = #{urlControls,jdbcType=VARCHAR},
			</if>
		</set>
		where roleId = #{roleId,jdbcType=INTEGER}
	</update>

</mapper>    